.App {
    width: 100%;
    text-align: center;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App > ul {
    width: 100%;
    justify-content: center;
}

.todo-list {
    margin: 40px;
}

.todo-list span {
    font-weight: bold;
}

.todo-generator {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.todo-generator Button {
    margin-left: 5px;
}


.font-without-line-through {
    text-decoration: line-through;
}

.font-with-line-through {
    text-decoration: none;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: #999 solid 1px;
    margin: 5px;
    padding: 5px;
    width: 90%;
}

.todo-item > p {
    flex: 1;
    text-align: start;
}

.todo-item > Button {
    margin: 5px;
}